/*
*  html5resetcss
*/



html,
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
hgroup,
menu,
nav,
summary,
time,
mark,
audio,
section,
body,
video 
{
font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 1em;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: #000;
}

header
{
  background-color: #8C165D;
  position: sticky;
  height:150px;
  padding: 0;
}

.mask-custom {
  filter: drop-shadow(0 0 0.75rem #fffcf9);
  background-color: rgba(255, 255, 255, .15);
  position: sticky;
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: text-top;
  color: #000;
  position: sticky;
}



.priserdv 
{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #8FC0A9;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.priserdv:hover {
    background-color: #8FC0A9;
}

.priserdv:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  width:fit-content;
  text-align: left;
  box-decoration-break: slice;
  display: inline-block;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

.portrait3
{
  box-sizing: content-box;
  display: inline-flex;
  border: 2px #fffcf9;
}


  
  .footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Playfair Display', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }



select {
  font-size: 0.9rem;
  padding: 2px 5px;

}
iframe {
  border: 1px solid black;
  width: 100%; /* takes precedence over the width set with the HTML width attribute */
}

img 
{
box-sizing:border-box;
padding: 0;
width: 150px;
height: 600px;
object-fit: cover;
object-position: 100% 0;
}

.card-img-top, .col, .card-body, .card-title, .card,.card-text
{
width: 400px;
height: auto;
border: #000;
padding: 2px;
box-sizing: content-box;
}

.card-title 
{
  font-style: normal;
  font-variant: small-caps;
  color: black;
  font-weight: bold;
}

section
{
width: fit-content;
height: fit-content;
position: relative;
overflow: hidden;
cursor: pointer;
outline: 2px groove #a63760;
border-radius: 2rem;
flex-direction: row-reverse;
border: #000;
word-spacing: normal;
}

#descriptif {
  width: 1200px;
  height: 300px;
  text-align: justify;
  padding: 10px 50px 20px;
}

/*section :hover div effet recherché : cf cours du 28 mars 
{
top: 0;
}

/*div
{
font-family: 'Playfair Display', serif;
width: 300px;
height: 300px;
padding: 16px;
box-sizing: border-box;
left: 0;
top: 300px;
transition: all 0.5s ease;
}*/

#silhouette,#cocooning, #lookcomplet, #diagnosticcolo, #diagnosticstyle, #diagnosticmorpho, #fashiondetox, #shopping
{
width :300px;
height:300px;
background-color: #000;
color: white;
box-sizing: border-box;
text-align: left;
line-height: auto;
padding: auto;
font-style:normal;
display:flex;
}

figure {
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0;
  padding: 0;
}
img.scaled {
  width: 100%;
}

/*Formulaire de contact */
#formulairedecontact {
  margin: 20px;
  padding: 20px;
  border: 1px solid #a63760;
  border-radius: 10px;
  width: 1200px;
}

label {
  font-family: "Playfair Display";
  font-size: 1rem;
  padding-right: 10px;
  display: block;
  margin-bottom: 10px;
}


































/* Acien CSS
p
{
    background: transparent;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 80%;
    font-family: 'Playfair Display', serif;
   
}

header 
{
position: relative;
width: 50%;
height: 15em;
position: sticky;
background-color: #8c165d;
box-sizing :border-box;width: 100%;border: solid #f6ece8 10px;padding: 0;
color: #000;
font-family: 'playfair display', serif;
}

h1{
  font-family: 'Playfair Display' , serif;
}

ul,li,aside,section
{
  font-family: 'Playfair Display', serif;
  color: #000;
}

section
{
width: 300px;
height: 300px;
position: relative;
overflow: hidden;
cursor: pointer;
}

.container 
{
  flex-wrap: wrap ;
}

section :hover div 
{
top: 0;
}

div
{
  font-family: 'Playfair Display', serif;
  width: 300px;
height: 300px;
padding: 16px;
box-sizing: border-box;
left: 0;
top: 300px;
opacity: 0.5;
transition: all 0.5s ease;
}

img
{
width: 300px;
height: 300px;
display: block;
}

#silhouette, #cocooning, #lookcomplet, #diagnosticcolo, #diagnosticstyle, #diagnosticmorpho, #fashiondétox, #Shopping
{
width :300px;
height:300px;
background-color: #000;
color: white;
box-sizing: border-box;
text-align: left;
line-height: auto;
padding: auto;
font-style:normal;
}



nav
{
  color: #000;
  font-family: 'playfair display', serif;
}

footer
{
width: 10px;
height: 6em;
background-color: #8c165d ;
box-sizing: content-box;width: 100%;border: solid #f6ece8 10px;padding: 5px;
color: #000;
}

/* Month header 
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list 
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

 Previous button inside month header 
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button 
.month .next {
  float: right;
  padding-top: 10px;
}

 Weekdays (Mon-Sun) 
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

 Days (1-31) 
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

 Highlight the "current" day 
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important ;
  
}

*/
